* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
}

:root {
  --primary-color: #002642;
  --second-color: #e59500;
  --font-color: #e5dada;
  --button-color: #840032;
  --shadow-color: #02040f;
}
