.header-about-me {
  color: var(--headline-color);
  font-size: 18px;
  font-weight: bold;
}

.section-about-me {
}

.article-about-me {
}

.fieldset-about-me {
}

.legend-about-me {
}

.p-about-me {
}
