.skills {
  height: 20rem;
  width: 40rem;
  border: 1px solid var(--font-color);
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.skills--headline {
  color: var(--font-color);
  font-size: 17px;
}

.skills--container {
  border: 1px solid var(--shadow-color);
  margin: 0.5rem;
  padding: 1rem;
  width: 18rem;
  height: 9rem;
}
