* {
  box-sizing: border-box;
  font-family: "Amatic SC", cursive;
  background-color: lightseagreen;
}

header {
  margin-top: -4rem;
  margin-bottom: 4rem;
  background-color: lightsteelblue;
  display: flex;
  justify-content: space-around;
  width: 75%;
  height: 80px;
  border-bottom: 3px solid lightsalmon;
  border-radius: 10px;
}

body {
  margin: 3rem;
  padding: 2rem;
  width: 80%;
}

section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h1,
h2 {
  border-left: 4px solid lightsalmon;
  padding-left: 10px;
  background: transparent;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  background: transparent;
}

.button {
  background-color: lightseagreen;
  padding: 0.4rem 0.5rem;
  margin: 1.5rem 0.3rem;
  color: black;
  text-decoration: none;
  border-radius: 10px;
}
a:hover {
  background-color: lightsalmon;
}
skills:hover {
  box-shadow: 4px 4px 8px lightsalmon;
}

legend {
  font-weight: 700;
  text-decoration: underline lightsalmon;
  text-underline-offset: 3px;
  font-size: 20px;
}
fieldset {
  border-color: lightsteelblue;
  border-style: dotted;
  border-radius: 10px;
  font-size: 18px;
}
.about {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding-left: 0;
  border-radius: 15px;
  font-size: 18px;
}
li {
  padding: 8px 15px 6px;
  background-color: lightsteelblue;
  color: black;
  border-radius: 15px;
}
.hobbies {
  display: flex;
  flex-direction: column;
}
